<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199318937184-mg394ehik5ap1pmsuki6978ee4huoq4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199318937184-mg394ehik5ap1pmsuki6978ee4huoq4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBsWnK4zn4x2A-1bkMGiRrwnRFi8NQtkgU</string>
	<key>GCM_SENDER_ID</key>
	<string>199318937184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strictExam</string>
	<key>PROJECT_ID</key>
	<string>strict-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>strict-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199318937184:ios:5227446428ce38ff7bad05</string>
</dict>
</plist>